.resheader {
    background-color: dimgrey;
    color: white;
    align-items: center;
}

.bree-photo{
    width: 150px;
    border: solid 2px white;
}

h1 {
    background-color:#FBEED3;
    color: #6B5D4D;
}

p {
    font-family: sans-serif;
}